html {
	direction: rtl;
	text-align: right;
}

.main {
	padding: 10px;
}


.row {
	margin-top:10px;
}


.col {
	float: right;
	min-height: 1px;
	margin-left: 16px;
}

.col.col1 {
	width: 100px;
}

.col.col2 {
	width: 150px;
}

/* ------------  CLEARING  --
This technique was originally developed by Tony Aslett,
upgraded by Alex Robinson
-------------------------- */

.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.clearboth {clear:both;}

.bootstrap-select .dropdown-menu {
	right:0px;
}

.bootstrap-select .dropdown-menu span.text {
	display: block !important;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 300px;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	text-align: right;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align: right !important;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	left: 12px !important;
	right: unset !important;;
}



