
html {
	direction: rtl;
	text-align: right;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100%;
}


.main {
	padding: 10px;
}


.row {
	margin-top:10px;
}


.col {
	float: right;
	min-height: 1px;
	margin-right: 16px;
}

.col.col1 {
	/*width: 100px;*/
	width: 8.33%;
}

.col.col2 {
	/*width: 150px;*/
	width: 16.66%;
}

.col.col3 {
	/*width: 200px;*/
	width: 25%;
}

.col.col4 {
	/*width: 250px;*/
	width: 33.33%;
}
.col.col4 {
	/*width: 300px;*/
	width: 41.66%;
}

/* ------------  CLEARING  --
This technique was originally developed by Tony Aslett,
upgraded by Alex Robinson
-------------------------- */

.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.clearboth {clear:both;}

.selectOption {
	width: 100%;
	margin:auto 5px;
}

.bootstrap-select .dropdown-menu {
	right:0px;
}

.bootstrap-select .dropdown-menu span.text {
	display: block !important;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 300px;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	text-align: right;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align: right !important;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	left: 12px !important;
	right: unset !important;;
}



