

<!--<select class="select-component" ng-model="itemSelected" ng-options="item.id as item.name for item in dataList"></select>-->

<ul id="nav">
    <li class="title-menu"><a href="#" title="select-title">{{dataList[0].name}}</a></li>
    <li>
        <ul class="list-item">
            <li ng-repeat="item in dataList" ng-click="itemSelected(item)">
                <a href="#">{{item.name}}</a>
            </li>
        </ul>
    </li>
</ul>
<p class="item-selected">id: {{item.id}}, name: {{item.name}}</p>