
html {
	/*direction: rtl;*/
	text-align: right;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100%;
}


.main {
	padding: 10px;
}


.row {
	margin-top:10px;
}


.col {
	float: right;
	min-height: 1px;
	margin-right: 16px;
}

.col.col1 {
	width: 150px;
	/*width: 8.33%;*/
}

.col.col2 {
	width: 150px;
	/*width: 16.66%;*/
}

.col.col3 {
	width: 25%
}

.col.col4 {
	width: 33.33%
}

.col.col5 {
	width: 41.66%
}




/* ------------  CLEARING  --
This technique was originally developed by Tony Aslett,
upgraded by Alex Robinson
-------------------------- */

.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.clearboth {clear:both;}

/*.bootstrap-select .dropdown-menu {*/
/*right:0px;*/
/*}*/

/*.bootstrap-select .dropdown-menu span.text {*/
/*display: block !important;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*max-width: 300px;*/
/*}*/

/*.bootstrap-select.btn-group .dropdown-menu li a {*/
/*text-align: right;*/
/*font-size: 12px;*/
/*color: #666;*/
/*}*/

/*.bootstrap-select.btn-group .dropdown-toggle .filter-option {*/
/*text-align: right !important;*/
/*}*/

/*.bootstrap-select.btn-group .dropdown-toggle .caret {*/
/*left: 12px !important;*/
/*right: unset !important;;*/
/*}*/

/*.bootstrap-select.btn-group .dropdown-menu li a:hover {*/
/*background-color: #f3ddff;*/
/*}*/


/*.btn-group>.btn:first-child:hover {*/
/*margin-left: 0;*/
/*border: 2px solid #ffe913;*/
/*color: inherit;*/
/*}*/



/*.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {*/
/*color: #666;*/
/*font-size: 14px;*/
/*}*/

/*button[aria-expanded="true"] .caret {*/
/*border-top: 0;*/
/*border-bottom: 4px solid black !important;*/
/*border-left: 4px solid transparent;*/
/*border-right: 4px solid transparent;*/
/*}*/

/*.selectedContainer {*/
/*position: relative;*/
/*margin-top: 20px;*/
/*}*/


.select-component {
	max-width: 300px;
	/*width: 170px;*/
	/*margin: 0 10px;*/
}

.dropdown-heading{
	font-size: 14px;
	color: #666;
	background: linear-gradient(#f2f2f2, #f1f1f1, #ececec);
	border: 1px solid #666;
	overflow: auto;
	height: 45px;
	border-radius: 10px;
	position: relative;
	max-width: 300px;
	/*width: 170px;*/
}

.dropdown-heading:hover{
	border: 1px solid #ffc300;
}

.dropdown-heading .heading-dropdown-content {
	float: right;
	margin-right: 10px;
	line-height: 3;
}

.dropdown-heading span{
	float: left;
	margin-left: 10px;
	line-height: 3;
}

.menu-select {
	height: 100px;
	overflow-x: hidden;
	padding: 0;
	text-align: right;
	z-index: 999;
	border-left: 1px solid #f3f2f2;
	border-right: 1px solid #f3f2f2;
	border-bottom: 1px solid #f3f2f2;
}

.menu-select li{
	font-size: 12px;
	color: #666;
	list-style-type: none;
	max-width: 300px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
	direction: rtl;
	margin-right: 3px;
}

.menu-select li:hover{
	background: #ffd8ff;
}



